/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto Slab', serif;
  body {
    md-toolbar {
      .md-toolbar-tools {
        &#apiForm {
          font-size: 0.9rem;
          form {
            width: 100%;
            label {
              margin-right: 0.5rem;
              line-height: 2.5rem;
            }
            .md-button {
              margin-right: -0.5rem;
            }
          }
        }
        h2 {
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }
    [ui-view] {
      section {
        padding: 1rem;
        header {
          text-transform: uppercase;
        }
        form {
          md-input-container {
            margin-bottom: 0;
          }
        }
        &#listObjects {

          md-list {
            md-list-item {
              margin-top: 1rem;
              div {
                md-icon {
                  transform: rotate(270deg);
                }
                .key {
                  font-weight: bold;
                }
                .timestamp {
                  font-size: 0.8em;
                  &::before {
                    content: '@';
                  }
                }
                .datetime {
                  font-size: 0.8em;
                  color: #CCCCCC;
                  &::before {
                    content: '('
                  }
                  &::after {
                    content: ')'
                  }
                }
                .value {
                  margin-left: 1rem;
                  &::before {
                    content: '-> ';
                  }
                }
              }
              md-list {
                padding-bottom: 0;
                padding-top: 0;
                .md-subheader {
                  .md-subheader-inner {
                    padding-bottom: 0;
                    padding-top: 0;
                    span.md-subheader-content::after {
                      content: ':';
                    }
                  }
                }
                md-list-item {
                  margin-top: 0;
                  font-size: 0.8em;
                  .timestamp {
                    min-width: 5.5rem;
                    &::before {
                      content: '@';
                    }
                  }
                  .value {
                    &::before {
                      content: '-> ';
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
