<div layout="column" layout-gt-xs="row" layout-wrap="">
    <section flex="" flex-gt-xs="50" id="saveObject">
        <header class="md-headline">Save Object</header>
        <form name="saveObject" layout="column">
            <md-input-container flex="">
                <label>Key</label>
                <input ng-model="main.object.key" name="objectKey" required=""/>
                <div ng-messages="saveObject.objectKey.$error" multiple md-auto-hide="false">
                    <div ng-message="required">
                        Key can not be empty
                    </div>
                </div>
            </md-input-container>
            <md-input-container flex="">
                <label>Value</label>
                <input ng-model="main.object.value" name="objectValue" required=""/>
                <div ng-messages="saveObject.objectValue.$error" multiple md-auto-hide="false">
                    <div ng-message="required">
                        Value can not be empty
                    </div>
                </div>
            </md-input-container>
            <md-button type="submit" flex="" class="md-raised" ng-click="main.saveObject(main.object)">Save</md-button>
        </form>
    </section>
    <section flex="" flex-gt-xs="50" id="getObjectValue">
        <header class="md-headline">Get Object</header>
        <form layout="column" name="getObjectValue">
            <md-input-container flex="">
                <label>Key</label>
                <input ng-model="objectKey" name="objectKey" required/>
                <div ng-messages="getObjectValue.objectKey.$error" multiple md-auto-hide="false">
                    <div ng-message="required">
                        Key can not be empty
                    </div>
                </div>
            </md-input-container>
            <md-input-container flex="">
                <label>Timestamp</label>
                <input ng-model="objectTimestamp"/>
            </md-input-container>
            <md-input-container flex="" ng-class="{'md-block': true, 'md-input-invalid': main.result.status == 0}">
                <label>Result</label>
                <textarea ng-model="main.result.data" rows="5" readonly md-select-on-focus></textarea>
            </md-input-container>
            <md-button type="submit" flex="" class="md-raised" ng-click="main.getObject(objectKey, objectTimestamp)">Get</md-button>
        </form>
    </section>
    <section flex="" flex-gt-xs="100" id="listObjects">
        <header class="md-headline">Object List</header>
        <main>
            <md-list ng-hide="main.objects">
                <p>No objects yet!</p>
            </md-list>
            <md-list ng-show="main.objects" layout="column">
                <md-list-item ng-repeat="object in main.objects" flex="" layout="column" layout-gt-xs="row" layout-align="center top">
                    <div flex="">
                        <md-icon class="material-icons">vpn_key</md-icon>
                        <span class="key">{{object.key}}</span>
                        <span class="timestamp">{{object.timestamp}}</span>
                        <span class="datetime">{{object.datetime}}</span>
                        <div class="value">{{object.value}}</div>
                    </div>
                    <md-list ng-hide="object.logs" flex="">
                        <p>There are no changes for this key</p>
                    </md-list>
                    <md-list ng-show="object.logs.length" layout="column" flex="" layout="column">
                        <md-subheader>Object's Log(s)</md-subheader>
                        <md-list-item ng-repeat="log in object.logs | orderBy : 'timestamp' : true" flex="">
                            <span class="timestamp">{{log.timestamp}}</span>
                            <span class="value">{{log.value}}</span>
                        </md-list-item>
                    </md-list>
                </md-list-item>
            </md-list>
        </main>
    </section>
</div>
